
<div class="dashboard-container" *ngIf="stock">
  <header>
    <button class="back-btn" (click)="goBack()">← Back to Market</button>
    <h2>{{ stock.name }} ({{ stock.symbol }})</h2>
  </header>

  <div class="main-content">
    <!-- Chart Placeholder -->
    <div style="display: block;">
        <p>Chart is coming soon...</p>
  </div>


    <!-- Price Section -->
    <div class="price-section">
      <h3 class="price">₹{{ stock.price }}</h3>
      <p [ngClass]="stock.change >= 0 ? 'green' : 'red'">
        {{ stock.change >= 0 ? '+' : ''}}{{ stock.change }}
        ({{ stock.changePercent >= 0 ? '+' : ''}}{{ stock.changePercent }}%)
      </p>
    </div>

    <!-- Stats Grid -->
    <div class="stats">
      <div class="card">
        <h3>Volume</h3>
        <p>{{ stock.volume | number }}</p>
      </div>
      <div class="card">
        <h3>High</h3>
        <p>₹{{ stock.high }}</p>
      </div>
      <div class="card">
        <h3>Low</h3>
        <p>₹{{ stock.low }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!stock" class="not-found">
  <p>Instrument not found.</p>
</div>
