


.dashboard-container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: linear-gradient(180deg, #0b4fc0, #063e9b);
  color: #fff;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;

}

.logo-link {
  text-decoration: none;
}

.logo {
  font-size: 28px;
  margin-bottom: 30px;
  color: #fff;
}

/* NAVIGATION ITEMS */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 18px;
}

nav ul li a {
  text-decoration: none;
  color: #e4e9f7;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

nav ul li a.active {
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

/* ICON STYLE */
.icon {
  width: 22px;
  display: inline-block;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 30px;
  background: #f5f6fa;
}