<div class="dashboard-container">
  <aside class="sidebar">
    <h1 class="logo">TradeWise</h1>

    <nav>
      <ul>
        <li><a routerLink="/broker/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/broker/market" routerLinkActive="active">Market Data</a></li>
        <li><a routerLink="/broker/risk-analysis" routerLinkActive="active">Risk Analysis</a></li>
        <li><a routerLink="/broker/profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="/broker/logout" routerLinkActive="active">Logout</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
