<div class="dashboard-container">

  <aside class="sidebar">
    <a routerLink="/broker/dashboard" class="logo-link">
      <h1 class="logo">TradeWise</h1>
    </a>

    <nav>
      <ul>

        <li>
          <a routerLink="/broker/dashboard" routerLinkActive="active">
            <span class="icon">📊</span> Dashboard
          </a>
        </li>

        <li>
          <a routerLink="/broker/orders" routerLinkActive="active">
            <span class="icon">📈</span> Market Data
          </a>
        </li>

        <li>
          <a routerLink="/broker/risk-analysis" routerLinkActive="active">
            <span class="icon">⚠️</span> Risk Analysis
          </a>
        </li>

        <li>
          <a routerLink="/broker/profile" routerLinkActive="active">
            <span class="icon">👤</span> Profile
          </a>
        </li>

        <li>
          <a routerLink="/broker/logout" routerLinkActive="active">
            <span class="icon">🔓</span> Logout
          </a>
        </li>

      </ul>
    </nav>

    <!-- Dark Mode Toggle -->
    <div class="toggle-container">
      <label class="switch">
        <input type="checkbox" (change)="toggleTheme($event)">
        <span class="slider round"></span>
      </label>
      <span class="toggle-text">Light Mode</span>
    </div>

  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>
